body {
  background-image: url("https://github.com/BrookemWalters/Collection/blob/main/sections/reflections/positionality_shiny_app/positionality/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
