body {
  background-image: url("~/gvsu/summer 23/stat 631/portfolio/Website/sections/reflections/positionality_shiny_app/positionality/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
